h5{
    color: rgb(36, 105, 36);
    font-size:39px;
    font-family:Arial, Helvetica, sans-serif;
    float: left;
    border: solid pink;
    background-color: rgb(255, 217, 223);
    position: relative; top: -67px; right: 3px;
}



h6{
    color:fuchsia;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    border: solid green;
    background-color: rgb(161, 255, 161);
    position: relative; top: -111px; right: -5px;
}


h4{
    color: rgb(95, 95, 27);
    font-size: 37px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid rgb(52, 52, 128);
    margin:0px;
    float:left;
    clear:both;
    background-color:rgb(161, 161, 245) ;
    position: relative; top: 305px; left: -5px;
    

    
}
h3{
    color: lightcoral;
    font-size: 40px;
    font-family: Arial;
    border:solid rgb(7, 91, 97);
    margin: 0px;
    float: right;
    background-color: rgb(100, 219, 240);
    position: relative; top: 6px; right: -5px;
    
}