body{
    background-color:rgb(255, 238, 142);
   

}
@media only screen and (min-width: 300px){

}
h1{
    font-family:"Bradley Hand ITC";
    margin-left: 500px;
   
}
li{
    text-decoration: none;
    display: flex;
    font-family:"Bradley Hand ITC";
    margin-left: 500px;
    margin-top: 100px;


}
